<div id="about_wrapper">
    <div class="left_side">
        <h1>Hi, I'm Jovan and I have dedicated my entire professional and personal orientation toward developing myself into not only being the best possible illustrator I can be, but being one step ahead of the curve at all times.</h1>
        <article>
            <p>It is my personal choice not to have any single goal or idol, because I believe that once you reach your goal and surpass it you will start to stagnate; instead I have a direction in which I am developing my talent hoping it</p>
            <p>For me, true success comes from giving 200% on all projects I accept to work on. That means keeping an eye on all the small details within the design and creating something that makes sense for both the users and</p>
            <p>I don't think that there are small or big clients, instead I choose to work only on opportunities that excite me, because that excitement translates into passion which allows me to create something unique - something that creates a memorable
                effect on anyone who sees it.</p>
        </article>
    </div>
    <div class="right_side">
        <img src="../assets/images/slika-bnw.png">
    </div>
</div>