<div id="intro_container">
    <div class="block_intro one"></div>
    <div class="block_intro two"></div>
    <div class="block_intro three"></div>
    <div class="block_intro four"></div>
    <div class="block_intro five"></div>
    <div class="block_intro six"></div>
    <div class="block_intro seven"></div>
    <div id="greetingCont">
        <div id="greeting">
            <div class="greetingInner">
                <h2 class="greetingTxt">Hi, I'm Jovan, your resident illustrator</h2>
            </div>
            <span class="greetDivide"> | </span>
            <a class="contactMe" id="contactMe" routerLink='/main/contact'>CONTACT</a>
            <div class="greetingReveal"></div>
        </div>
    </div>
    <h1>YOBU ^<br> &nbsp;DESIGN
    </h1>
    <a id="workIntro" routerLink="/main/mywork">
        <img src="/assets/intro-work-top.svg" alt="work" id="work-top" class="slide-nav">
        <img src="/assets/intro-work-bottom.svg" alt="work" id="work-bottom" class="slide-nav">
    </a>
    <a id="aboutIntro" routerLink='/main/about'>
        <img src="/assets/intro-about-top.svg" alt="about" id="about-top" class="slide-nav">
        <img src="/assets/intro-about-bottom.svg" alt="about" id="about-bottom" class="slide-nav">
    </a>
</div>