<div id="contact_wrapper">
    <div class="text-container">
        <p>If you want me to work on some of your projects, got some suggestions about my previous work, or just want to chitchat about work related stuff, feel free to message me through the form below.</p>
        <p>Best regards!</p>
    </div>
    <div class="formcontainer">
        <form name="form1" id="form1" action="script.php" target="cilj" method="post">
            <div class="form-group"><input type="text" name="name" required="" autocomplete='name' /><label htmlFor="input" class="control-label">Name</label><i class="bar"></i></div>
            <div class="form-group"><input type="text" name="email" required="" autocomplete='email' /><label htmlFor="input" class="control-label">Email address</label><i class="bar"></i></div>
            <div class="form-group"><input type="text" name="company" required="" autocomplete='organization' /><label htmlFor="input" class="control-label">Company / Organisation</label><i class="bar"></i></div>
            <div class="form-group"><textarea name="content" rows="4" required=""></textarea><label htmlFor="textarea" class="control-label">Project details</label><i class="bar"></i></div>
            <div class="button-container"><button id="submit" type="submit" name="submit" value="send" class="button menu-buttons"><span>Send</span></button></div>
        </form>
    </div>
</div>