html {
    box-sizing: border-box;
    font-size: 10px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.plain-container .image {
    margin: 2px;
    -ms-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1);
    transition: all .3s ease;
}

.plain-container .image:hover {
    -ms-filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
}

.ngx-gallery-arrow-wrapper.ngx-gallery-arrow-left .ngx-gallery-icon.ngx-gallery-arrow {
    width: 50px;
    height: 50px;
    transform: rotate(45deg)!important;
    background: transparent;
    border-radius: 0px;
    border: 1px solid transparent;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.ngx-gallery-arrow-wrapper.ngx-gallery-arrow-right .ngx-gallery-icon.ngx-gallery-arrow {
    width: 50px;
    height: 50px;
    transform: rotate(135deg)!important;
    background: transparent;
    border-radius: 0px;
    border: 1px solid transparent;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.triangle-left {
    width: 0px;
    height: 50px;
    border: 0px;
    background: black;
    transition: all .3s ease;
}

.ngx-gallery-icon.ngx-gallery-arrow:hover .triangle-left {
    width: 50px;
}

.triangle-right {
    width: 0px;
    height: 50px;
    border: 0px;
    background: black;
    transition: all .3s ease;
}

.ngx-gallery-icon.ngx-gallery-arrow:hover .triangle-right {
    width: 50px;
}

.ngx-gallery-arrow {
    /*    color: white;
    background: black;
    border-radius: 100px;   */
    top: calc(50% - 25px) !important;
}

.ngx-gallery-thumbnail {
    -ms-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition: all .33s ease-in-out;
    transition: all .33s ease-in-out;
}

.ngx-gallery-thumbnail:hover {
    -ms-filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
}